@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

.auth {
  display: flex;
  align-items: center;
  height: 100vh;
  /* flex-direction: column;
  width: 500px;

  background-color: white;
  border-radius: 20px;
  padding: 30px;
  align-self: center;
  margin-top: 300px; */
}
.sidebar {
  height: 100vh;
}
.authSide {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
.auth-form,
.reg-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reg-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.reg-title {
  margin: 0 auto;
}
.toast {
  position: absolute !important;
}

.reg-back {
  position: absolute;
  left: 0;
  float: left;
  /* clear: both; */
}
.registrationBtn {
  color: rgba(84, 88, 234, 1);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
