.profile {
  background-color: #eeeeee;
  height: 100vh;
  display: flex;
  position: absolute;
  left: 0;
}

.userData {
  display: flex;
  flex-direction: column;
}

.gridSmall {
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, minmax(154px, 1fr));
  grid-template-rows: repeat(4, minmax(184px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
