.form-accept-phone {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  padding: 20px;
}
.phone-img {
  width: 80px;
  height: 80px;
}
