.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 32px;
}
.btnWrapper {
  display: flex;
  align-items: center;
}
.backBtn {
  background-color: rgba(192, 192, 192, 0.2);
  border: none;
  border-radius: 50px;
}
